body {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 90%);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80ch;
    margin: auto;
    padding: 1rem;
    line-height: 1.5;
}

h1 {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 20%);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: hsl(200, 70%, 70%);
}

.center {
    display: block;
    margin: auto;
}

li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a:link {
    color: hsl(200, 50%, 50%);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

a:visited {
    color: hsl(200, 50%, 50%);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

a:hover {
    color: hsl(200, 50%, 80%);
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

a:active {
    color: hsl(15, 50%, 70%);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

img {
    border: 2px;
    border-style: solid;
    border-color: hsl(0, 0%, 90%);
}

#profile {
    border-radius: 999px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    background-color: rgb(80, 80, 80);
    border-radius: 999px;
}

nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a:link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    border-right: 1px solid rgb(30, 30, 30);
    width: 25%;
    font-size: large;
    font-weight: bold;
}

nav a:hover {
    background-color: hsl(200, 70%, 35%);
}

nav a:visited {
    color: hsl(0, 0%, 90%);
    border-right: 1px solid rgb(30, 30, 30);
}

nav a.active {
    background-color: hsl(200, 70%, 35%);
}

nav a.last {
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

nav a.first {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

button {
    padding: 1rem;
}

button#light {
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button#light:hover {
    background-color: hsl(200, 70%, 35%);
}