body {
    background-color:rgb(255,255,255);
    color: rgb(0,0,0);
    font-family:Arial, Helvetica, sans-serif;
    max-width:60ch; 
    margin:auto;
    padding:2rem;
    position:relative;
}

h1 {
    color:rgb(255,255,255);
    background-color:rgb(80,0,0);
    padding:1rem;
    text-align:center;
}

h2,h3,h4,h5,h6 {
    color:rgb(80,0,0);
}

.center {
    display: block;
    margin: auto;
}

li {
    margin:1rem;
}

a:link {
    color:rgb(0,100,131);
    text-decoration-style:solid;
    text-decoration-thickness:1px;
}

a:visited {
    color: rgb(0, 100, 131);
    text-decoration-style:solid;
    text-decoration-thickness:1px;
}

a:hover {
    color:rgb(0,67,98);
    text-decoration-style:solid;
    text-decoration-thickness:3px;
}

a:active {
    color: rgb(115, 47, 47);
    text-decoration-style:solid;
}

img {
    border:1px;
    border-style:solid;
    border-color:rgb(0,0,0);
}

hr {
    margin-top:1rem;
    margin-bottom:1rem;
    border-style:solid;
    border-color:rgb(167, 167, 167);
}

nav {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    /* box-shadow: 0px 3px 5px 0px rgb(112, 112, 112); */
}

nav a:link {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex: auto;
    text-align:center;
    background-color:rgb(80,0,0);
    color: rgb(255,255,255);
    text-decoration: none;
    padding-top: min(2vw, 1rem);
    padding-bottom: min(2vw, 1rem);
    margin:0;
    border-right:1px solid white;
    width:25%;
}

nav a:hover {
    background-color:rgb(60,0,0);
}

nav a:visited {
    color: rgb(255, 255, 255);
    border-right:1px solid white;
}

nav a.active {
    /* background-color: rgb(116,79,40); */
    background-color: rgb(60,0,0);
}

nav a.last {
    border: none;
}