body {
    margin: auto;
    max-width: 80rem;
    line-height: 1.5rem;
    padding: 4rem 1rem;
    font-family: sans-serif;
}

img {
    display: block;
    border: 1px solid #000;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    color: red;
}