:root {
  color-scheme: light dark;
}

address {
  font-style: normal;
}

body {
  font-family: sans-serif;
  line-height: 1.45;
  margin: auto;
  max-width: 75ch;
  padding: 1em;
}

header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

li {
  margin-bottom: 1em;
  margin-top: 1em;
}

header nav ul li {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  max-block-size: 24%;
  flex-wrap: no-wrap;
  padding: 0;
}

@media (max-width: 400px) {
  header nav ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    max-block-size: 24%;
    padding: 0;
  }
}

@media print {
  body {
    font-family: serif;
  }
  header nav {
    display: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .noprint {
    display: none;
  }
}

@media screen {
  .print {
    display: none;
  }
}
