body {
    background-color:hsl(0, 0%, 12%);
    color: hsl(0, 0%, 90%);
    font-family:Arial, Helvetica, sans-serif;
    max-width:80ch; 
    margin:auto;
    padding:min(2vh,2vw);
    line-height:1.5;
}

h1 {
    color:hsl(0, 0%, 70%);
    background-color:hsl(0, 0%, 20%);
    padding:min(2vh,2vw);
    text-align:center;
    border-radius:10px;
}

h2,h3,h4,h5,h6 {
    color:hsl(200,70%,70%);
}

.center {
    display: block;
    margin: auto;
}

li {
    margin-top:min(2vw,2vh);
    margin-bottom:min(2vw,2vh);
}

a:link {
    color:hsl(200, 50%, 50%);
    text-decoration-style:solid;
    text-decoration-thickness:1px;
}

a:visited {
    color: hsl(200, 50%, 50%);
    text-decoration-style:solid;
    text-decoration-thickness:1px;
}

a:hover {
    color:hsl(200, 50%, 80%);
    text-decoration-style:solid;
    text-decoration-thickness:2px;
}

a:active {
    color: hsl(15, 50%, 70%);
    text-decoration-style:solid;
    text-decoration-thickness:3px;
}

img {
    border:2px;
    border-style:solid;
    border-color:hsl(0, 0%, 90%);
    border-radius:999px;
}

hr {
    margin-top:min(2vw,2vh);
    margin-bottom:min(2vw,2vh);
    border-style:solid;
    border-color:rgb(80, 80, 80);
    background-color:rgb(80,80,80);
    border-radius:999px;
}

nav {
    margin-top:min(2vh,2vw);
    margin-bottom:min(2vw,2vh);
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    /* box-shadow: 0px 3px 5px 0px rgb(112, 112, 112); */
}

nav a:link {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex: auto;
    text-align:center;
    background-color:hsl(0,0%,20%);
    color: hsl(0,0%,70%);
    text-decoration: none;
    padding:min(3vw,3vh);
    margin:0;
    border-right:1px solid rgb(30,30,30);
    width:25%;
    /* border-radius:10px; */
    font-size:large;
    font-weight:bold;
}

nav a:hover {
    background-color:hsl(200,70%,35%);
}

nav a:visited {
    color: hsl(0, 0%, 70%);
    border-right:1px solid rgb(30,30,30);
}

nav a.active {
    /* background-color: rgb(116,79,40); */
    background-color: hsl(200,70%,35%);
}

nav a.last {
    border: none;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}

nav a.first {
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}

button {
    margin-top:min(1vh,1vw);
    margin-bottom:min(1vh,1vw);
    padding:min(2vh,2vw);
 }

 button#light {
    color:hsl(0,0%,70%);
    background-color:hsl(0,0%,20%);
    border:none;
    border-radius:10px;
    cursor:pointer;
 }

 button#light:hover {
    background-color:hsl(200,70%,35%);
 }
