html {
  font-size: 100%;
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin: auto;
  max-width: 80ch;
  padding: 2rem;
}

img {
  display: block;
  margin: 2rem auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
